.drop {
  position: absolute;
  /* bottom: 100%; */
  top: 0;
  width: 1px;
  height: 55px;
  pointer-events: none;
  animation: drop 0.5s linear infinite;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
  animation-delay: 1.2s;
  animation-duration: 1.2s;
}

@keyframes drop {
  0% {
    transform: translateY(0vh);
  }

  75% {
    transform: translateY(90vh);
  }

  100% {
    transform: translateY(90vh);
  }
}